<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @candy.title %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @candy.discription %>
</p>

<%= link_to 'Edit', edit_candy_path(@candy) %> |
<%= link_to 'Back', candies_path %>
